# Clé secrète de Django (à générer pour la production)
SECRET_KEY=votre_cle_secrete_ici

# Activer le mode debug (mettre à False en production)
DEBUG=True

# Hôtes autorisés (ex: localhost,127.0.0.1,votredomaine.com)
ALLOWED_HOSTS=localhost,127.0.0.1

# Configuration de la base de données PostgreSQL
# DATABASE_URL=postgresql://user:password@localhost:5432/db_name
POSTGRES_DB=eglise_saas
POSTGRES_USER=eglise_user
POSTGRES_PASSWORD=eglise-password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
DATABASE_CONN_MAX_AGE=600
DATABASE_SSL_REQUIRE=False

# Configuration de l'envoi d'emails (ex: Mailtrap ou SMTP classique)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_HOST_USER=votre_user_mailtrap
EMAIL_HOST_PASSWORD=votre_mot_de_passe_mailtrap
EMAIL_PORT=2525
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False

# Adresse par défaut (l'adresse de l'envoyeur affichée aux utilisateurs)
DEFAULT_FROM_EMAIL=contact@votreeglise.com
